<footer>
    <div class="f-info">
       <div class="f-info-socials">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-twitter"></i><!--Future Scope-->
        </div>
        <div class="f-info-brand">&copy; Gran & Me Private Limited</div>
        <div class="f-info-links">
            <a href="/about">About</a>
        </div>
    </div>
</footer>