<nav class="navbar navbar-expand-md  border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-shield-heart"></i>
      </a>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/listings">All Caregivers</a>
          <a class="nav-link" href="/listings/new">Add a Caregiver</a>
        </div>
        <div class="navbar-nav ms-auto">
          <%if(!currUser){%>
          <a class="nav-link" href="/signup">Sign Up</a>
          <a class="nav-link" href="/login">Log in</a>
          <%}%><%if(currUser){%>
          <a class="nav-link" href="/logout">Log out</a>
          <%}%>
        </div>
      </div>
    </div>
  </nav>